$shepherd-utility-one-em: 1em;
$shepherd-utility-one-px: 1px;
$shepherd-utility-one-percent: 1%;
$shepherd-utility-sixteen-pixel: 16 * $shepherd-utility-one-px;
$shepherd-content-text-align: justify;
